{% extends 'booru/base_new.html' %}

{% load static %}
{% load cdnstaticfiles %}

{% block title %}
    <title>Page Not Found - Boorunaut</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12" style="text-align: center;">
        <h1 class="mb-4">404 - Page Not Found!</h1>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align: center;">
        <img class="img-thumbnail rounded" src="{% cdnstatic 'img/404confused.png' %}" height="500" width="500">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 mt-4" style="text-align: center;">
        <p class="text-muted">We couldn't find what you're looking for.
        <br> It may have been removed, or it may never have
        existed in the first place.</p>
    </div>
</div>
<div class="row">
    <div class="col-sm-12" style="text-align: center;">
        <button class="btn btn-primary">Go Home</button>
    </div>
</div>
{% endblock %}