{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
    <link href="{% static 'booru/bootstrap-toggle-master/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block scripts %}
    <script src="{% static 'booru/bootstrap-toggle-master/js/bootstrap-toggle.min.js' %}"></script>
{% endblock %}

{% block body %}
    <h1>This page is a work in progress.</h1>
    <h4>Pardon our dust.</h4>
{% endblock %}