{% extends 'booru/base_new.html' %}

{% load static %}
{% load cdnstaticfiles %}

{% block title %}
    <title>Banned - Boorunaut</title>
{% endblock %}

{% block body %}
<div style="text-align: center;">
    <div class="row">
    <div class="col" style="text-align: center;">
        <h1 class="mb-4">Account Banned</h1>
    </div>
</div>
    <div class="row">
        <div class="col">
            <i class="text-muted fa fa-ban fa-4x mb-2"></i>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-muted mt-2"><strong>You have been banned from Boorunaut for violating our Terms of Service.</strong> <br> If
            you believe that your ban was mistaken or wish to appeal it, please use the Contact form to submit an appeal request.</p>
        </div>
    </div>
    {% if user.is_authenticated %}
    <!-- Allow user to logout -->
    <div class="row">
        <div class="col" style="text-align: center;">
            <button class="btn btn-danger">Log Out</button>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}