<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">        

        {% load staticfiles %}
        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/cosmo/bootstrap.min.css"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'booru/css/light_base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'booru/css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" type="text/css" href="{% static 'booru/jQuery-Tags-Input-1.3.6/jquery.tagsinput.min.css' %}"/>
        {% block css %}
        {% endblock %}
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
        <script src="{% static 'booru/jQuery-Tags-Input-1.3.6/jquery.tagsinput.min.js' %}"></script>
        <script src="{% static 'booru/js/tag_search_autocomplete.js' %}"></script>
        <script>
            var tag_search_url = "{% url 'booru:tag_search' %}";
        </script>
        {% block scripts %}
        {% endblock %}

        {{ INCLUDE_HEADER_CODE |safe }}

        <title>
            {% block title %}{{SITE_TITLE}} | Imageboard{% endblock %}
        </title>
        <meta name="description" content="{{SITE_DESCRIPTION}}">
    </head>
    <body>
        <div class="container mt-4">
        {% block body %}
        {% endblock %}
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </body>
</html>