<!doctype html>
<html lang="en" prefix="og: http://ogp.me/ns#">
    <!--
    Want to help us out?
    Visit https://gitlab.com/SilverCrown/Boorunaut!
    Thanks for taking an interest.
    -->
    <head>
        {% load staticfiles %}
        {% load cdnstaticfiles %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block title %}
        <title>
            {{SITE_TITLE}}
        </title>
        {% endblock %}
        <!-- NEW CSS -->
        <link rel="stylesheet" type="text/css" href="{% cdnstatic 'booru/css/skin.css' %}">
        <link rel="stylesheet" type="text/css" href="{% cdnstatic 'booru/css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% cdnstatic 'booru/css/jquery_ui.css' %}">
        <link rel="stylesheet" type="text/css" href="{% cdnstatic 'booru/jQuery-Tags-Input-1.3.6/jquery.tagsinput.min.css' %}"/>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous"/>
<!--        <link rel="stylesheet" type="text/css" href="{% cdnstatic 'booru/css/fa5.css' %}"/>-->
        {% block css %}
        {% endblock %}
        <!-- LOGOS FOR MOBILE AND DESKTOP DEVICES -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% cdnstatic 'booru/logos/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% cdnstatic 'booru/logos/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href=" {% cdnstatic 'booru/logos/favicon-16x16.png' %}">
        <link rel="manifest" href="{% cdnstatic 'booru/logos/site.webmanifest' %}">
        <link rel="mask-icon" href="{% cdnstatic 'booru/logos/safari-pinned-tab.svg' %}" color="#5bbad5">
        <link rel="shortcut icon" href="{% cdnstatic 'booru/logos/favicon.ico' %}">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{% cdnstatic 'booru/logos/browserconfig.xml' %}">
        <meta name="theme-color" content="#ffffff">
        <!-- OpenGraph -->
        <meta property="og:title" content="Boorunaut, the free-and-open-source imageboard built with Django.">
        <meta property="og:type" content="text/html">
        <meta property="og:url" content="{{request.path}}">
        <meta property="og:image" content=none>
        <!-- ./OpenGraph -->
        <script src="{% cdnstatic 'booru/js/jquery.min.js' %}"></script>
        <script src="{% cdnstatic 'booru/js/tag_search_autocomplete.js' %}"></script>
        <script src="{% cdnstatic 'booru/jQuery-Tags-Input-1.3.6/jquery.tagsinput.min.js' %}"></script>
        <script src="{% cdnstatic 'booru/js/howler.js' %}"></script>
        <script>
            /**
            @description Returns the user's user agent for better browsing and outdated browser detection.
            @returns String|Null
            */
            function getUserAgent() {
                /* <https://developer.mozilla.org/en-US/docs/Web/API/Window/navigator> */

                var sBrowser, sUsrAg = navigator.userAgent;

                // The order matters here, and this may report false positives for unlisted browsers.
                if (sUsrAg.indexOf("Firefox") > -1) {
                  sBrowser = "Mozilla Firefox";
                  // "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:61.0) Gecko/20100101 Firefox/61.0"
                } else if (sUsrAg.indexOf("SamsungBrowser") > -1) {
                  sBrowser = "Samsung Internet";
                  // "Mozilla/5.0 (Linux; Android 9; SAMSUNG SM-G955F Build/PPR1.180610.011) AppleWebKit/537.36 (KHTML, like Gecko) SamsungBrowser/9.4 Chrome/67.0.3396.87 Mobile Safari/537.36
                } else if (sUsrAg.indexOf("Opera") > -1 || sUsrAg.indexOf("OPR") > -1) {
                  sBrowser = "Opera";
                  // "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_0) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/70.0.3538.102 Safari/537.36 OPR/57.0.3098.106"
                } else if (sUsrAg.indexOf("Trident") > -1) {
                  sBrowser = "Microsoft Internet Explorer";
                  // "Mozilla/5.0 (Windows NT 10.0; WOW64; Trident/7.0; .NET4.0C; .NET4.0E; Zoom 3.6.0; wbx 1.0.0; rv:11.0) like Gecko"
                } else if (sUsrAg.indexOf("Edge") > -1) {
                  sBrowser = "Microsoft Edge (Legacy)";
                  // "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36 Edge/16.16299"
                } else if (sUsrAg.indexOf("Edg") > -1) {
                  sBrowser = "Microsoft Edge (Chromium)";
                  // Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36 Edg/91.0.864.64
                } else if (sUsrAg.indexOf("Chrome") > -1) {
                  sBrowser = "Google Chrome or Chromium";
                  // "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Ubuntu Chromium/66.0.3359.181 Chrome/66.0.3359.181 Safari/537.36"
                } else if (sUsrAg.indexOf("Safari") > -1) {
                  sBrowser = "Apple Safari";
                  // "Mozilla/5.0 (iPhone; CPU iPhone OS 11_4 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Version/11.0 Mobile/15E148 Safari/604.1 980x1306"
                } else {
                  // Can't find it - just end here
                  sBrowser = null;
                }
                return sBrowser;
            }

            console.log("You are using " + getUserAgent()); // <- DEBUG

            /**
            @description Returns the commit hash of the most recent commit.
            @returns String|Null
            */
            function getLatestCommit() {
                var str = "{% cdnstatic "." %}";
                var clean = str.replace(/\\|\//g, '');
                var hash = clean.substring(11, 23); // <- Ick, magic numbers!
                if (hash) {
                    return hash;
                }
                return null;
            }

            var tag_search_url = "{% url 'booru:tag_search' %}";
            var tags = "{{tags}}";
            var booru_version = getLatestCommit();

        </script>
        {% block scripts %}
        {% endblock %}
        
        <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "WebSite",
            "name": "{{SITE_TITLE}}",
            "url" : "http://{{request.get_host}}",
            "potentialAction": [{
                "@type": "SearchAction",
                "target": "{{request.get_host}}{% url 'booru:posts' %}?tags={search_term}",
                "query-input": "required name=search_term"
            }]
        }
        </script>

        {{ INCLUDE_HEADER_CODE |safe }}

        {% block ld_json %}
        <link href="{{request.get_host}}" rel="canonical" />
        {% endblock %}
        <meta name="description" content="{{SITE_DESCRIPTION}}">
    </head>
    <body>
        {% load static %}
        {% include 'booru/navbar_new.html' %}

        {% if SITE_ANNOUNCEMENT %}
        <!-- Show announcement if we have one -->
        <div class="container mt-4">
            {% load markdown_deux_tags %}
            <div class="alert alert-danger" role="alert">
                {{SITE_ANNOUNCEMENT|markdown}}
            </div>
        </div>
        {% endif %}

        <div class="container">
            {% if SHOW_ADS %}
            <!-- AD UNIT -->
            {{ ADS_CODE |safe }}
            <!-- ./ AD UNIT -->
            {% endif %}
        </div>

        <div class="container-fluid mt-4">
        <!-- BODY -->
        {% block body %}
        {% endblock %}
        <!-- ./ BODY -->
        </div>

        <!-- FOOTER -->
        <footer class="page-footer font-small pt-4">
            <div class="text-center py-3">
                Running <a href="https://gitlab.com/SilverCrown/Boorunaut">Boorunaut</a> v0.5.0 - <a href="{% url 'core:terms_of_service' %}">Terms of service</a> - <a href="{% url 'core:privacy_policy' %}">Privacy policy</a>
                <br>
            </div>
        </footer>
        <!-- ./FOOTER -->
        <!-- JS FOR PAGE -->
        <script src="{% cdnstatic 'booru/js/popper.min.js' %}"></script>
        <script src="{% cdnstatic 'booru/js/bootstrap.min.js' %}"></script>
        <script src="{% cdnstatic 'booru/js/jquery-ui.min.js' %}"></script>
    </body>
</html>