{% extends 'booru/base_new.html' %}

{% block css %}
    {% load staticfiles %}
    {% load cdnstaticfiles %}
    <link href="{% cdnstatic 'booru/bootstrap-toggle-master/css/bootstrap-toggle.min.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}
    <title>New Message - Boorunaut</title>
{% endblock %}

{% block scripts %}
    <script src="{% static 'booru/bootstrap-toggle-master/js/bootstrap-toggle.min.js' %}"></script>
    <script src="{% cdnstatic 'booru/js/messages.js' %}"></script>
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div class="form" style="margin-left: 12.5rem; width: 65%;">
    <div class="alert row" id="serverMessage">
        <div class="col">
            {% if alert %}
                {{ alert }}
            {% endif %}
        </div>
    </div>
    <h1>Send New DM</h1>
    <p> Please remember the Rules when sending and replying to DMs. </p>
    <div class="col" id="sendDmForm">
        <!-- Create DM form -->
        <form id="sendDm" action="{{request.path}}">
            {% csrf_token %}
            {{form | crispy}}
        </form>
        <button id="cancelDm" title="Cancel DM" class="btn btn-danger">Cancel</button>
        <button type="submit" title="Send DM" id="createDm" class="btn btn-primary mt-4 mb-4">Create DM</button>
    </div>
</div>

{% endblock %}