{% extends 'booru/base_new.html' %}

{% block css %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/index.css' %}"/>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center site-title"><a href="#">{{SITE_TITLE}}</a></h1>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            <a href="{% url 'booru:posts' %}" class="btn font-weight-bold" title="A paginated list of every post">Posts</a>
            <a href="#" class="btn disabled" title="All comments listing">Comments</a>
            <a href="#" class="btn disabled" title="Forum listing">Forum</a>
            <a href="#" class="btn disabled" title="Wiki pages with database documentation">Wiki</a>
            {% if not user.is_authenticated %}
                <a href="{% url 'account:login' %}" class="btn">Login</a>
            {% else %}
            <a href="{{user.get_absolute_url}}" class="btn" title="Account options">My Account</a>
            {% endif %}
            <a href="#" class="btn disabled" title="Help page and tools">»</a>
        </div>
    </div>
    <form action="{% url 'booru:posts' %}">
        <div class="form-row mt-3 mb-3">
            <div class="col">
                <input name="tags" class="tag-search form-control form-control-sm" type="search" aria-label="Search" placeholder="lorem_ipsum dolor_sit" hidden>
            </div>
            <div class="col-1">
                <button class="btn btn-primary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <div class="row text-center mt-2">
        <span class="col display-4 bg-white text-dark" title="Number of posts">
            This site currently has {{post_count}} posts.
        </span>
    </div>
    <div class="row bg-primary pt-1 mt-4 mb-5"></div>
    <div class="index-footer">
        <div class="row text-center mt-2 mb-2">
            <!-- Policy links -->
            <div class="col">
                <a href="{% url 'core:terms_of_service' %}">Terms of Service</a>
            </div>
            <div class="col">
                <a href="{% url 'core:privacy_policy' %}">Privacy Policy</a>
            </div>
            <div class="col">
                <a href="{% url 'core:terms_of_service' %}">Help</a>
            </div>
            <div class="col">
                <a href="{% url 'core:terms_of_service' %}">About Us</a>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col text-center">
                {% comment %} TODO: Stop hardcoding the version number. {% endcomment %}
                Running <a href="https://gitlab.com/SilverCrown/Boorunaut">Boorunaut</a> v0.5.0
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <small>Inspired by <a href="https://github.com/danbooru/danbooru">Danbooru</a></small>
            </div>
        </div>
        <div class="row text-center mt-2">
            <!-- Social media links for footer -->
            <div class="col fa-lg">
                <a href="https://gitlab.com/SilverCrown/Boorunaut">
                    <i class="fab fa-gitlab ml-2 mr-2"></i>
                </a>
                <a href="#">
                    <i class="fab fa-discord ml-2 mr-2"></i>
                </a>
                <a href="#">
                    <i class="fa fa-envelope ml-2 mr-2"></i>
                </a>
                <a href="#">
                    <i class="fab fa-twitter ml-2 mr-2"></i>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}