<!-- NEW NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{{SITE_TITLE}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="#">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/post/list">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/gallery/list">Galleries</a>
        </li>
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>-->
<!--          <div class="dropdown-menu">-->
<!--            <a class="dropdown-item" href="#">Action</a>-->
<!--            <a class="dropdown-item" href="#">Another action</a>-->
<!--            <a class="dropdown-item" href="#">Something else here</a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">Separated link</a>-->
<!--          </div>-->
<!--        </li>-->
      </ul>
      <form class="d-flex">
        <input class="form-control me-sm-2" type="text" placeholder="Search {{SITE_TITLE}}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:settings' %}" title="Settings"><i class="fa fa-cog fa-lg"></i></a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:register' %}">Register</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:login' %}">Login</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/inbox" title="Inbox"><i class="fa fa-envelope fa-lg" alt="Inbox"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{user.get_absolute_url}}" title="Profile page" alt="Profile"><i class="fa fa-user fa-lg"></i></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'account:logout' %}" title="Logout" alt="Logout"><i class="fa fa-user-times fa-lg"></i></a>
            </li>
            {% endif %}
        </ul>


    </div>
  </div>
</nav>
<!-- ./NEW NAVBAR -->