{% extends 'booru/base_new.html' %}

{% block title %}
<title>Report Post {{post}} - Boorunaut</title>
{% endblock %}

{% block css %}
    {% load staticfiles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <h1>Flag post {{post}}</h1>
    </div>
    <div class="row">
        <p class="text-muted">
            This will flag <a href="{{ post.get_absolute_url }}">this post</a> so it can be deleted or reapproved by the staff.
            Only posts that break the <a href="/terms_of_service">rules</a> should be reported. <br> <strong>Submitting
            false or intentionally misclassified reports is grounds for a ban.</strong>
        </p>
    </div>
    <form method="post" enctype="multipart/x-www-form-urlencoded">
        {% csrf_token %}
        {{ form |crispy }}
        <div class="row d-flex align-items-center">
            <div class="col md-10 mt-2">
                <button class="btn btn-danger">Cancel</button>
            </div>
            <div class="col md-1 mt-2">
                <button type="submit" class="btn btn-primary" style="margin-left: 510px; width: 20%;">Report Post</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}