{% extends 'booru/base.html' %}

{% block css %}
    {% load staticfiles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block body %}
    {% load version_comparator %}
    <div class="container">
        <div class="row">
            <h1>History for Post <a href="{% url 'booru:post_detail' post.id %}">{{post}}</a></h1>
        </div>

        <div class="row mt-3 mb-3">
            <div id="table">
                <table class="table table-striped text-center">
                    <thead>
                        <tr>
                            <th scope="col">Post</th>
                            <th scope="col">Date</th>
                            <th scope="col">User</th>
                            <th scope="col">Rating</th>
                            <th scope="col">Parent</th>
                            <th scope="col">Source</th>
                            <th scope="col">Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for version in page.object_list %}
                        <tr>
                            <th scope="row">
                                <a href="{{post.get_absolute_url}}">
                                    {{post}}
                                </a>
                            </th>
                            <td>
                                {{version.history_date}}
                            </td>
                            <td>
                                <a href="{% url 'booru:profile' version.history_user %}">{{version.history_user}}</a>
                            </td>
                            <td>
                                {% if version.rating == 0 %}
                                None
                                {% elif version.rating == 1 %}
                                Safe
                                {% elif version.rating == 2 %}
                                Questionable
                                {% elif version.rating == 3 %}
                                Explicit
                                {% endif %}
                            </td>
                            <td>
                                {{version.parent}}
                            </td>
                            <td>
                                {{version.source}}
                            </td>
                            <td>
                                {% version_comparator version "tags_mirror" %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <nav aria-label="..." class="mt-5">
            <ul class="pagination">
                {% if page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'booru:post_history' post.id page.previous_page_number %}" tabindex="-1">Previous</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                {% endif %}
                {% for i in page.paginator.page_range %}
                    {% if page.number == i %}
                    <li class="page-item active">
                        <a class="page-link" href="{% url 'booru:post_history' post.id i %}">{{i}} <span class="sr-only">(current)</span></a>
                    </li>
                    {% elif i > page.number|add:'-3' and i < page.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'booru:post_history' post.id i %}">{{i}}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                {% if page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'booru:post_history' post.id page.next_page_number %}">Next</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">Next</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
{% endblock %}