{% extends 'booru/base_new.html' %}

{% block title %}
    <title>{{ post.tags_mirror }} | {{SITE_TITLE}}</title>
{% endblock %}

{% load staticfiles %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'booru/css/post_detail.css' %}"/>
{% endblock %}

{% block ld_json %}
<script type="application/ld+json">
    {% if EMBED_MODE == False %}
    {
      "@context": "http://schema.org",
      "@type": "ImageObject",
      "contentUrl": "{{post.media.url}}",
      "datePublished": "{{post.timestamp|date:'c'}}",
      "description": "{{post.description}}"
    }
    {% endif %}
</script>

<link href="{{post.get_absolute_url}}" rel="canonical" />
{% endblock %}

{% block scripts %}
    <script src="{% static 'booru/js/post_detail.js' %}"></script>
    <script>
        // FOR USE WITH AJAX
        var is_favorited = {{is_favorited|yesno:'true,false'}};
        var current_vote = {{current_vote}};
        var favorite_url = "{% url 'booru:post_favorite' post.id %}";
        var vote_url = "{% url 'booru:post_score_vote' post.id %}";
        var current_url = "{{request.path}}";
    </script>

{% endblock %}

{% block body %}
    {% load humanize %}
    {% load number_converter %}
    {% load markdown_deux_tags %}
    {% load permission_tags %}
    {% load crispy_forms_tags %}
    <div class="row">
        <aside id="sidebar" class="col-lg-3 col order-2 order-md-1">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    {% if previous_post %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'booru:post_detail' previous_post.id %}">
                            <i class="fas fa-chevron-left"></i> Previous
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-chevron-left"></i> Previous
                        </a>
                    </li>
                    {% endif %}
                    {% if next_post %}
                    <li class="page-item">
                        <a class="page-link" href="{% url 'booru:post_detail' next_post.id %}">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#">
                            Next <i class="fas fa-chevron-right"></i>
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </nav>
            <div class="row text-center">
                <span class="col mb-2">
                    <a href="{% url 'booru:post_history' post.id %}" type="button" class="btn btn-sm btn-primary">
                        <i class="fas fa-history"></i> History
                    </a>
                </span>
            </div>
            <div id="tag-tables" class="col">
                {% for category, tags in ordered_tags.items %}
                <div id="tag-table-{{category.label}}" class="mb-3">
                    <div class="row col">
                        <span class="font-weight-bold">{{category}}</span>
                    </div>
                    <table class="tag-table table-sm table borderless">
                        <tbody>
                            {% for tag in tags %}
                            <tr>
                                {% if category.label == "general" %}
                                <th class="tag-wiki-link" scope="row">
                                    <a href="{% url 'booru:tag_detail' tag.id %}">
                                        ?
                                    </a>
                                </th>
                                <td class="tag-label">
                                    {% url 'booru:posts' as posts_url %}
                                    <a href="{{ tag.get_search_url }}">{{ tag }}</a>
                                </td>
                                {% else %}
                                <th class="tag-wiki-link" scope="row">
                                    <a style="color: #{{category.color}};" href="{% url 'booru:tag_detail' tag.id %}">
                                        ?
                                    </a>
                                </th>
                                <td class="tag-label">
                                    <a style="color: #{{category.color}};" href="{{ tag.get_search_url }}">{{tag}}</a>
                                </td>
                                {% endif %}
                                <td class="tag-count">{{tag.get_count|number_converter}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>

            <div class="col mb-3">
                <div class="row col">
                    <span class="font-weight-bold">Information</span>
                </div>
                
                <table class="table table-sm mt-2 borderless" style="table-layout: fixed; word-break: break-all;">
                    <tbody>
                        <tr>
                            <th scope="row"><i class="fas fa-hashtag"></i> ID</th>
                            <td>{{post.id}}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="fas fa-user"></i> Uploader</th>
                            <td><a href="{{post.uploader.get_absolute_url}}">{{post.uploader}}</a></td>
                        </tr>
                        {% if post.get_parent %}
                        <tr>
                            <th scope="row">Parent</th>
                            <td><a href="{{post.get_parent.get_absolute_url}}">{{post.get_parent}}</a></td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row"><i class="far fa-calendar"></i> Uploaded</th>
                            <td>
                                <time datetime="{{post.timestamp|date:'c'}}" title="{{post.timestamp|date}}">
                                    {{post.timestamp|naturaltime}}
                                </time>
                            </td>
                        </tr>
                        {% if EMBED_MODE == False %}
                        <tr>
                            <th scope="row"><i class="far fa-image"></i> Size</th>
                            <td>
                                <a href="{{post.media.url}}">{{post.media.size}} KB</a>
                                <br>({{post.get_media_width}}x{{post.get_media_height}})
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th scope="row"><i class="fas fa-link"></i> Source</th>
                            <td>
                                {% if source is None %}
                                None
                                {% else %}
                                {% for source in post.get_sources %}
                                {{source|urlizetrunc:22}}<br/>
                                {% endfor %}
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="far fa-eye"></i> Rating</th>
                            <td>{{post.get_rating_display}}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="far fa-thumbs-up"></i> Score</th>
                            <td id="score_count">{{post.get_score_count}}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="far fa-star"></i> Favorites</th>
                            <td id="favorite_count">{{post.get_favorites_count}}</td>
                        </tr>
                        <tr>
                            <th scope="row"><i class="far fa-check-circle"></i> Status</th>
                            <td>{{post.get_status_display}}</td>
                        </tr>
                    </tbody>
                </table>
                {% if user.is_authenticated %}
                <div class="row text-center">
                    <span class="col-2 offset-3" data-toggle="tooltip" title="Mark as favorite">
                        <button id="btn_favorited" type="button" class="btn btn-primary">
                            <i class="fas fa-star"></i>
                        </button>
                    </span>
                    <span class="col-2" data-toggle="tooltip" title="Upvote">
                        <button id="btn_vote_up" type="button" class="btn btn-primary">
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    </span>
                    <span class="col-2" data-toggle="tooltip" title="Downvote">
                        <button id="btn_vote_down" type="button" class="btn btn-primary">
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </span>
                </div>
                {% else %}
                <div class="row text-center">
                    <span class="col-2 offset-3" data-toggle="tooltip" title="Login to mark posts as favorite">
                        <button type="button" class="btn btn-primary" disabled>
                            <i class='fas fa-star'></i>
                        </button>
                    </span>
                    <span class="col-2" data-toggle="tooltip" title="Login to upvote posts">
                        <button type="button" class="btn btn-primary" disabled>
                            <i class="fas fa-thumbs-up"></i>
                        </button>
                    </span>
                    <span class="col-2" data-toggle="tooltip" title="Login to downvote posts">
                        <button type="button" class="btn btn-primary" disabled>
                            <i class="fas fa-thumbs-down"></i>
                        </button>
                    </span>
                </div>
                {% endif %}
                <div class="row mt-3 text-center">
                    <span class="col" data-toggle="tooltip" title="Flag this post for deletion.">
                        <a href="{% url 'booru:post_flag' post.pk %}" class="btn btn-sm btn-secondary">
                            <i class="fas fa-flag"></i> Flag
                        </a>
                    </span>
                </div>
            </div>
        </aside>
        <section id="post" class="col-9 order-1 order-md-2">
            {% if post.status == 2 %}
            <div class="alert alert-warning text-center" role="alert">
                <strong>This post was hidden by a staff member.</strong> <br>
                Consider discussing their decision with them before unhiding it.
            </div>
            {% elif post.status == 3 %}
            <div class="alert alert-danger text-center" role="alert">
                <strong>This post was deleted by a staff member.</strong> <br> If you want to restore it,
                consider discussing the deletion with them first.
            </div>
            {% endif %}
            <div class="accordion mb-1" id="relationshipAccordion">
                {% if post.get_parent %}
                <div class="card">
                    <div class="card-header p-0" id="parentHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-sm collapsed col" type="button" data-toggle="collapse" data-target="#parentCollapse" aria-expanded="true" aria-controls="parentCollapse">
                                <i class="fas fa-stream"></i> Parent
                            </button>
                        </h5>
                    </div>
                
                    <div id="parentCollapse" class="collapse" aria-labelledby="parentHeading" data-parent="#relationshipAccordion">
                        <div class="card-body">
                            <a href="{{post.get_parent.get_absolute_url}}">
                                <img src="{{post.get_parent.preview.url}}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if post.get_siblings %}
                <div class="card">
                    <div class="card-header p-0" id="siblingsHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-sm collapsed col" type="button" data-toggle="collapse" data-target="#siblingsCollapse" aria-expanded="false" aria-controls="siblingsCollapse">
                                <i class="fas fa-stream"></i> Siblings <span class="badge badge-dark">{{post.get_siblings.count}}</span>
                            </button>
                        </h5>
                    </div>
                    <div id="siblingsCollapse" class="collapse" aria-labelledby="siblingsHeading" data-parent="#relationshipAccordion">
                    <div class="card-body">
                        {% for sibling in post.get_siblings %}
                        <a href="{{sibling.get_absolute_url}}"><img src="{{sibling.preview.url}}" alt=""></a>
                        {% endfor %}
                    </div>
                    </div>
                </div>
                {% endif %}
                {% if post.get_children %}
                <div class="card">
                    <div class="card-header p-0" id="childrenHeading">
                        <h5 class="mb-0">
                            <button class="btn btn-sm collapsed col" type="button" data-toggle="collapse" data-target="#childrenCollapse" aria-expanded="false" aria-controls="childrenCollapse">
                                <i class="fas fa-stream"></i> Children <span class="badge badge-dark">{{post.get_children.count}}</span>
                            </button>
                        </h5>
                    </div>
                    <div id="childrenCollapse" class="collapse" aria-labelledby="childrenHeading" data-parent="#relationshipAccordion">
                        <div class="card-body">
                            {% for child in post.get_children %}
                            <a href="{{child.get_absolute_url}}"><img src="{{child.preview.url}}" alt=""></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="row mb-3">
                <main class="col">
                    {% if user|can:'change_status' or not post.status == 3 %}
                        {% if EMBED_MODE == False %}
                            {% if post.media_type == 0 %}
                            <img src="{{ post.get_sample_url }}" alt="{{ post.tags_mirror }}" title="{{ post.tags_mirror }}" style="max-width: 100%;">
                            {% elif post.media_type == 1 %}
                            <video controls>
                                <source src="{{ post.media.url }}">
                            </video>
                            {% endif %}
                        {% else %}
                            {{post.get_embed_code |safe }}
                        {% endif %}
                    {% endif %}
                </main>
            </div>
            <div class="row">
                <div class="col-sm-6 mb-4">
                    {% if request.user.show_comments or not user.is_authenticated %}
                        <button id="show_comments" class="btn btn-primary btn mr-1">Comments</button>
                    {% endif %}
                    <button id="show_edit_form" class="btn btn-outline-primary btn mr-3">Edit</button>
                    {% if user|can:'change_status' %}
                        <a id="nuke_post" href="{% url 'booru:post_nuke' post.id %}" class="btn btn-danger btn"><i class="fa fa-bomb"></i>&nbsp;Nuke</a>
                    {% endif %}
                </div>
                <div class="col-sm-4 mt-2 mb-4">
                {% csrf_token %}
                {% if user|can:'change_status' %}
                    <div class="float-right">
                       <a id="approve_post" href="{% url 'booru:post_approve' post.id %}" class="btn btn-success btn mr-1"><i class="fa fa-check"></i>&nbsp;Approve</a>
                       <a id="hide_post" href="{% url 'booru:post_hide' post.id %}" class="btn btn-warning btn mr-1"><i class="fa fa-eye-slash"></i>&nbsp;Hide</a>
                       <a id="delete_post" href="{% url 'booru:post_delete' post.id %}" class="btn btn-danger btn"><i class="fa fa-trash"></i>&nbsp;Delete</a>
<!--                   <a id="approve_post" class="btn btn-success btn mr-1"><i class="fa fa-check"></i>&nbsp;Approve</a>-->
<!--                   <a id="hide_post" class="btn btn-warning btn mr-1"><i class="fa fa-eye-slash"></i>&nbsp;Hide</a>-->
<!--                   <a id="delete_post" class="btn btn-danger btn"><i class="fa fa-trash"></i>&nbsp;Delete</a>-->
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if post.description %}
            <div class="row">
                <div class="card col-10">
                    <div class="card-body">
                        <h5 class="card-title">Description</h5>
                        <p class="card-text">{{post.description|markdown}}</p>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row mb-2">
                <div id="edit" class="col-10" style="display: none;">
                    <form method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form |crispy }}
                        <button type="submit" id="send" class="btn btn-primary submit-media">Update</button>
                    </form>
                </div>
            </div>
            {% if request.user.show_comments or not user.is_authenticated %}
            <div id="comment-section" class="mb-3">
                <div id="comments" class="row">
                    {% for comment in post.comments.all %}
                    {% if not comment.is_hidden or user|can:'manage_comments' %}
                    <div id="comment-{{comment.id}}" class="comment col-10 border comment-border pt-3 pb-3 mb-2">
                        <div class="row">
                            <div class="comment col">
                                <div class="row">
                                    <span class="col">
                                        {% if comment.author.is_deleted %}
                                        <h5>{{comment.author.get_name}}</h5>
                                        {% else %}
                                        <h5><a href="{{comment.author.get_absolute_url}}">{{comment.author.get_name}}</a></h5>
                                        {% endif %}
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col text-muted">
                                        {{comment.timestamp|naturaltime}}
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col text-muted text-capitalize">
                                        <small>{{comment.author.groups.all.first}}</small>
                                    </span>
                                </div>
                                <div class="row">
                                    <span class="col">
                                        <small>Score: {{comment.get_score}}</small>
                                    </span>
                                </div>
                                {% if comment.is_hidden %}
                                <div class="row">
                                    <span class="col">
                                        <small>Comment is hidden</small>
                                    </span>
                                </div>
                                {% endif %}
                            </div>
                            <div class="comment col-9">
                                {{comment.content|markdown}}
                            </div>
                        </div>
                        {% if user|can:'manage_comments' %}
                        <div class="row">
                            <div class="col offset-3">
                                {% if comment.is_hidden %}
                                <a href="{% url 'booru:comment-toggle-view' comment.pk %}" class="btn btn-sm btn-success">
                                     <i class="far fa-eye"></i> Show
                                </a>
                                {% else %}
                                <a href="{% url 'booru:comment-toggle-view' comment.pk %}" class="btn btn-sm btn-danger">
                                    <i class="far fa-eye-slash"></i> Hide
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div id="comment-create-form" class="row mt-3">
                    <form class="col-10" method="post" action="." enctype="multipart/form-data">
                        {% if not user.is_authenticated %}
                        <fieldset disabled>
                        {% endif %}

                        {% csrf_token %}
                        <div class="form-group">
                            {% if not user.is_authenticated %}
                            <label for="newCommentTextarea" class="text-muted">New comment (Login to comment)</label>
                            {% else %}
                            <label for="newCommentTextarea">New comment</label>
                            {% endif %}
                            <textarea class="form-control" id="newCommentTextarea" name="newCommentTextarea" rows="3" {% if not can_comment %}placeholder="This account cannot comment currently." disabled{% endif %}></textarea>
                        </div>
                        {% if can_comment %}
                        <button type="submit" id="send" class="btn btn-sm btn-primary">Create comment</button>
                        {% endif %}
                        
                        {% if not user.is_authenticated %}
                        </fieldset>
                        {% endif %}
                    </form>
                </div>
            </div>
            {% endif %}
        </section>
    </div>
{% endblock %}