{% extends 'booru/base_new.html' %}

{% block css %}
    {% load staticfiles %}
{% endblock %}

{% block scripts %}
<script>
    $(function () {
        $("#id_media_url").blur(function() {
            var image_url = $("#id_media_url").val();
            if (checkURL(image_url)) {
                $("#image_preview_block").show();
                $("#image_preview").attr("src", image_url);
            }
            else {
                $("#image_preview_block").hide();
            }
        });

        $('.custom-file-input').change(function(e){
            var file = e.target.files[0];
            var fileName = file.name;

            if (file){
                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#image_preview").attr("src", e.target.result);
                };
                reader.readAsDataURL(file);
                $("#image_preview_block").show();
            }
            else{
                $("#image_preview_block").hide();
            }
        });
    });

    function checkURL(url) {
        return(url.match(/\.(jpeg|jpg|gif|png)$/) != null);
    }
</script>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div id="upload" class="col">
            <h1>Upload</h1>
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="border border-secondary mb-4 p-2">
                    <div class="form-group row mt-2">
                        <label class="col-12 col-md-2 col-form-label text-center">{{ form.media.label }}</label>
                        
                        <div class="col">
                            {{form.media}}
                            <span class="custom-file-control"></span>
                            <label class="custom-file-label ml-3 mr-3" for="{{ form.media.auto_id }}">
                                Choose file
                            </label>
                        </div>

                        {% if form.media.errors %}
                        <div class="md-offset-2 col text-danger small">
                            {{form.media.errors}}
                        </div>
                        {% endif %}
                    </div>

                    <div class="form-group row">
                        <div class="col offset-5 offset-md-6 font-weight-bold">
                            OR
                        </div>
                    </div>
                
                    <div class="form-group row">
                        <label class="col-12 col-md-2 col-form-label text-center" for="{{ form.media_url.auto_id }}">
                            {{ form.media_url.label }}
                        </label>
                        
                        <div class="col">
                            {{form.media_url}}
                        </div>

                        {% if form.media_url.errors %}
                        <div class="md-offset-2 col-8 text-danger small">
                            {{form.media_url.errors}}
                        </div>
                        {% endif %}
                    </div>
                    <div class="row">
                        <p class="col offset-md-2 text-muted">
                            <small>Required: Use one of the methods to upload a file. Use the entire URL (including 'http://' or 'https://'), if chosen.</small>
                        </p>
                    </div>
                </div>

                <div id="image_preview_block" class="row text-center mt-3 mb-3" style="display: none;">
                    <div class="col border">
                        <h3>Preview</h3>
                        <figure>
                            <img src="#" title="Preview of image" id="image_preview" height="400"/>
                        </figure>
                    </div>
                </div>

                {% for field in form %}
                {% if field.auto_id != "id_sample" and field.auto_id != "id_preview" and field.auto_id != "id_media" and field.auto_id != "id_media_url" %}
                <div class="form-group row">
                    <label for="{{ field.auto_id }}" class="col-12 col-md-2 col-form-label text-center">{{ field.label }}</label>
                    
                    <div class="col">
                        {{field}}
                    </div>
                </div>
                {% if field.errors %}
                <div class="row text-danger small">
                    <div class="col">{{field.errors}}</div>
                </div>
                {% endif %}
                {% if field.help_text %}
                <div class="row">
                    <p class="col offset-md-2 text-muted">{{field.help_text}}</p>
                </div>
                {% endif %}
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-lg float-right" style="float: right;">Post</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}