/*!
 * Dark Mode CSS
 * Modified Zephyr skin
 * Licensed under the MIT License
 * Based on Bootstrap 5.1.3
*/

body {
  background-color: #191b1c;
  color: #b5afa6;
}

.bg-primary {
  background-color: rgb(21, 51, 167) !important;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(232, 230, 227);
}

.form-control {
  color: rgb(181, 175, 166);
  background-color: rgb(24, 26, 27);
  border-color: rgb(60, 65, 68);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
}

[type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-outline-secondary, .btn-secondary {
  border-color: rgb(55, 60, 62);
}

.btn-light, .btn-outline-light, .btn-outline-secondary, .btn-secondary {
  color: rgb(209, 205, 199);
}

.btn-primary {
  color: rgb(232, 230, 227);
  background-color: rgb(21, 51, 167);
  border-color: rgb(19, 46, 152);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
}

.btn-secondary {
  color: rgb(232, 230, 227);
  background-color: rgb(24, 26, 27);
  border-color: rgb(48, 52, 54);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
}

.btn {
  color: rgb(181, 175, 166);
  text-decoration-color: currentcolor;
  background-color: transparent;
  border-color: transparent;
}

.alert-danger {
  color: rgb(229, 120, 124);
  background-color: rgb(70, 11, 13);
  border-color: rgb(106, 18, 20);
}

.pagination .page-link {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px;
}
.pagination .page-link {
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.page-link {
  color: rgb(181, 175, 166);
  text-decoration-color: currentcolor;
  background-color: rgb(24, 26, 27);
  border-color: rgb(56, 61, 63);
}

