.tag-table{
    table-layout: fixed;
}

.tag-wiki-link{
    width: 1em;
}

.tag-label{
    word-wrap: break-word;
    font-weight: 400 !important;
    text-decoration: none;
}

.tag-count{
    word-wrap: break-word;
    text-align: right;
    width: 3em;
}

.borderless th, .borderless td{
    border-top: none !important;
    border-bottom: none !important;
    padding: 0px;
}

.comment-border{
    background-color: ghostwhite;
}

.table {
    box-shadow: none;
}

a {
    text-decoration: none;
}

#post-paginator {
    align-content: center;
}